body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0px 4px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body form {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px auto;
    max-width: 90%;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.7);
}

h1 {
    padding: 10px 0px 10px 15px;
    color: sandybrown;
}

.titulo h1 {
    text-align: center;
    color: sandybrown;
    margin: 2px 15px 0px 2px;
    text-align: top;
}

.titulo p {
    text-align: center;
}

h2 {
    color: rgb(114, 92, 74);
}

ul a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 8px 12px;
}

nav a:hover {
    color: sandybrown;
}

footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p:hover {
    color: sandybrown;
}

.formul {
    background-color: rgb(2, 2, 2);
    border-radius: 20px;
    box-shadow: 0 10px 40px sandybrown;
    border: 1px solid sandybrown;
    display: flex;
    flex-direction: column;
    margin: 0 auto 40px;
    padding: 18px 18px;
    max-width: 310px;
    width: 90%;
}

.formul p {
    margin-bottom: 11px;
}

.formul label {
    color: sandybrown;
    font-size: 1.1rem;
    margin-bottom: 8px;
    font-weight: 500;
    display: block;
    text-align: left;

}

input,
textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 5px;
    border: 1.5px solid sandybrown;
    border-radius: 20px;
    font-size: 1rem;
    transition: all 0.2s ease;
    background: #202020;
    color: white;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 78px;
}

button {
    width: 100%;
    padding: 16px;
    background: #202020;
    color: white;
    border: 1.5px solid sandybrown;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}

button:hover {
    background: #202020;
    color: rgb(255, 255, 255);
    transform: translateY(-4px);
    box-shadow: 0 8px 25px sandybrown;
}

button:active {
    transform: translateY(0);
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0px;
    padding: 20px 850px 5px 2px;
}

.card-projeto {
    width: 100%;
    padding: 16px;
    color: white;
    border: 1.5px solid sandybrown;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.25s ease;
}

.card-projeto:active {
    transform: translateY(0);
}

.card-projeto:hover {
    background: #202020;
    color: rgb(255, 255, 255);
    transform: translateY(-4px);
    box-shadow: 0 8px 25px sandybrown;
}

.card-projeto img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.card-projeto a {
    text-decoration: none;
    color: white;
}

.tech {
    background: #2e2e2e;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
}

.hero {
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.foto {
    width: 400px;
    height: 400px;
    border: 1.5px solid sandybrown;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.25s ease;
}

.foto:active {
    transform: translateY(0);
}

.foto:hover {
    background: sandybrown;
    color: rgb(255, 255, 255);
    transform: translateY(-4px);
    box-shadow: 0 8px 25px sandybrown;
}

.sobre {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    color: white;
    line-height: 1.6;
}

.sobre h1 {
    color: #ff9900;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.sobre h2 {
    color: rgb(114, 92, 74);
    margin-top: 20px;
    margin-bottom: 15px;
}


@media (min-width:440px) and (max-width: 768px) {
    .titulo h1 {
        font-size: 2.2rem;
        margin: 25px 3px 30px;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px 10px 5px;
        padding: 12px;
    }

    ul li {
        flex: 1 1 auto;
        text-align: center;
        min-width: 100;
    }

    ul a {
        font-size: 1rem;
        padding: 10px;
        display: block;
    }

    .formul {
        padding: 15px 15px;
        max-width: 285px;
        box-shadow: 0 6px 30px sandybrown;
    }

    input,
    textarea {
        padding: 12px 14px;
        font-size: 0.90rem;
    }

    button {
        padding: 14px;
        font-size: 1rem;
    }

    footer {
        flex-direction: left;
        gap: 10px;
        padding: 2px 1px;
        font-size: 0.9rem;
        text-align: center;
    }

    .card-projeto img {
        width: 100%;
        height: 40px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-projeto {
        font-size: 0.85rem;
    }

    .tech {
        padding: 2px 5px;
        border-radius: 5px;
    }

    .projetos-grid {
        padding: 2px 2px 2px;
        display: block;
    }

    .foto {
        width: 300px;
        height: 300px;
        font-size: 0.85rem;
        font-weight: 300;
    }
    .hero {
        padding: 60px 5px;
    }
}

@media (max-width: 439px) {

    ul {
        gap: 4px;
        padding: 10px 4px;
    }

    ul a {
        font-size: 0.89rem;
        padding: 5px 4px;
        display: block;

    }

    .titulo h1 {
        font-size: 1.5rem;
    }

    .formul {
        padding: 4px 8px;
        border-radius: 15px;
        box-shadow: 0 4px 25px sandybrown;
        max-width: 275px;
    }

    .formul label {
        font-size: 0.85rem;
    }

    footer {
        gap: 5px 10px;
        padding: 20px 10px;
    }

    .card-projeto img {
        width: 100%;
        height: 40px;
        object-fit: cover;
        border-radius: 20px;
    }

    .card-projeto {
        font-size: 0.85rem;
        box-sizing: border-box;
    }

    .tech {
        padding: 2px 5px;
        border-radius: 10px;
    }

    .projetos-grid {
        padding: 1px 2px;
        display: block;
    }

    .foto {
        width: 250px;
        height: 250px;
        font-size: 0.85rem;
        font-weight: 260;
    }
    .hero {
        padding: 50px 2px;
    }
}